#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header h2 {
    color: #D3573C;
    font-size: 2.25rem;
    font-weight: 400;
    margin: 1rem 0 0 0;
}

.photograph-header h3 {
    color: #901C1C;
    font-size: 1.2rem;
    margin: .5rem 0 0 0;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photograph-header p {
    margin: .5rem 0 0 0;
}

.tagline {
    font-size: 1rem;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.filter {
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    margin: 50px 100px;
    font-weight: 700;
}

.filter select {
    font-weight: 400;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    width: 170px;
    background-color: #901C1C;
    color: white;
    border: none;
}

.content {
    margin: 0 100px 100px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 6rem;
}

.media {
    width: 100%;
}

video {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.content .media img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.media_infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
}

.header_like {
    font-weight: 700;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_modal {
    background-color: #777575;
    width: 100vw;
    height: 100vh;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.header_form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.modal .header_form .contact {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
}

.modal .header_form .contact img {
    cursor: pointer;
}

.modal .header_form .contact h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.photographer {
    display: inline;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.message {
    height: 12rem;
}